@charset "utf-8";

/* リセット */
html, body, header, footer, main, section, h1, h2, h3, ul, li, p, dl {
  margin: 0;
  padding: 0;
  color: #4f260b;
  line-height: 1;
  font-family: "ten-mincho-antique", "Shippori Antique", serif;

  font-feature-settings: "palt";
}

a {
  /*色を消す*/
  color: inherit;

/*下線を消す*/
  text-decoration: none;
  transition: .3s;
}

a:hover {
  opacity: .7;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  border: none;
  vertical-align: bottom;
}
